{% extends "base_user.html" %}
 {% load static %}
{% block head_content %}
<title>Dashboard</title>
{% endblock%}

{% block container %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      
    </div>
  </div>

<div class="row">
    <div class="col-lg-6">
        f
    </div>
<div class="col-lg-6">
  <div class="card">
    <div class="card-header">Vehicles</div>
    <div class="card-body">
       <div class="table-responsive bootgrid">
          {% if object_list %}
          <table class="table table-striped" id="bootgrid-basic">
             <thead>
                <tr>
                   <th data-column-id="id" data-type="numeric">Vehicle ID</th>
                   <th data-column-id="sender">Current Location</th>
                   <th data-column-id="received" data-order="desc">Last Trip Distance</th>
                   <th data-column-id="received" data-order="desc">Detail</th>
                </tr>
             </thead>
             <tbody>

                {% for vehicle in object_list %}
                   <tr>
                   <td>{{ vehicle.vehicle_id}}</td>
                   <td>{{ vehicle.current_location }}</td>
                   <td>{{ vehicle.last_trip_distance }}</td>

                   <td>
                      <a href="{% url 'detail_vehicle' pk=vehicle.pk %}">
                     <button class="btn btn-info btn-w-m" type="button"><i
                             class="glyphicon glyphicon-pencil"></i> Ver
                     </button>
                       </a>
                   </td>
                </tr>
              {% endfor %}

          {% else %}
              <h3>No hay Vehiculos</h3>
          {% endif %}

             </tbody>
          </table>

 {% if is_paginated %}
     <div class="paginationbox">
         <ul class="pagination">
             {% if page_obj.has_previous %}
                 <li>
                     <span><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
                 </li>
             {% endif %}
             <li class="">
                 <span>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
             </li>
             {% if page_obj.has_next %}
                 <li>
                     <span><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
                 </li>
             {% endif %}
         </ul>
     </div>
 {% else %}

 {% endif %}

        </div>
    </div>
    </div>
</div>
</div>


{% endblock %}